:root {
  --color-primary: #ea506e;
  --color-secondary: #d03164;
  /* --color-text: #d6b9da; */
  --color-accent: #ffcd1c;
  --color-accentSecondary: #6ec5d0;
  --color-text: #4d4d4d;
  --color-background: hsla(293, 31%, 79%, 0.1);

    --font-base: 'Quicksand', sans-serif;
    --font-heading: 'Montserrat', sans-serif;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 6rem;
  --spacing-xl: 4rem;

  --max-width: 1000px;
}

@media (max-width: 767px) {
  :root {
    --spacing-sm: 0.25rem;
    --spacing-md: 0.5rem;
    --spacing-lg: 2.5rem;
    --spacing-xl: 2rem;
    --max-width: 100vw;
  }
}
