<style>
  footer {
    padding: var(--spacing-xl) var(--spacing-md);
    background-color: var(--color-primary);
    text-align: center;
  }
  footer p {
    margin: var(--spacing-sm) 0;
  }
</style>
<footer id="social">
  <p>Let’s stay connected!</p>
  <p>Präsentiert von Engels & Engels</p>
</footer>
