<style>
  .highlights {
    padding: var(--spacing-xl) var(--spacing-md);
  }
  .highlights h2 {
    font-family: var(--font-heading);
  }
  .highlights ul {
    padding-left: 1.2rem;
  }
</style>
<section id="highlights" class="highlights">
  <h2>Highlights</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>
</section>
