---
import CarouselGallery from "./CarouselGallery.astro";

const galleryImages = [
  "https://picsum.photos/seed/beach/200/800",
  "https://picsum.photos/seed/mountain/200/800",
  "https://picsum.photos/seed/city/200/800",
  "https://picsum.photos/seed/park/200/800",
  "https://picsum.photos/seed/river/200/800",
];
---


<section class="SozialMedia">
  <div class="event-info">
    <div class="event-info-text">
      <h2>
       News, Stories & mehr
      </h2>
      <h3>
       Let´s stay connected!
      </h3>
    
  
      <CarouselGallery>
        <img src="..." />
      </CarouselGallery>


    </div>
  </div>

</section>
