---
import '../styles/variables.css';
import '../styles/global.css';
---
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,  viewport-fit=cover" />
    <title>Sommer findet Stadt</title>
    <style>
      body {
        font-family: var(--font-base);
        color: var(--color-text);
        margin: 0;
        overflow-x: hidden;
      }
      .content {
        max-width: var(--max-width);
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <slot name="header" />
    <slot name="hero" />
    <main class="content">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
